.izakayaDivStyle{
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #D8D8D8;

  background-color: white;
  margin: 10px 5px;
  /*border-radius: 10px;*/
  box-shadow: 2px 2px 4px -2px grey;
}

/* izakayaInfo */
.izakayaImgDivStyle{
  width: 40%;
  text-align: center;
}
.izakayaImgStyle{
  width: 120px;
  height: 120px;
}

/* izakayaInfo */
.izakayaInfoDivStyle{
  width: 50%;
}
.izakayaNameDivStyle{
}
.izakayaNamePStyle{
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
.izakayaBudgetPStyle{
  margin: 5px 0;
  font-size: 14px;
}
.izakayaDetailPStyle{
  margin: 0;
  font-size: 12px;
  color: blue;
}

/* checkbutton */
.checkButtonDivStyle{
  width: 20%;
}
/* チェックされていない時のボタン */
.notCheckButtonStyle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 10px 0 15px;

  border: black 1px solid;
  background-color: white;
}
/* チェックされている時のボタン */
.checkButtonStyle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 10px 0 15px;

  border: black 1px solid;
  background-color: #ffd400;
}




