.pageTopText1{
  margin: 5px;
}
.pageTopText2{
  margin: 5px;
  font-size: 30px;
}

.izakayaListDivStyle{
  margin-bottom: 0px;
}

.loadMoreDivStyle{
  margin-bottom: 100px;
  text-align: center;
  text-decoration: underline;
}

.finishButtonDivStyle{
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  width: 98%;
  padding: 5px 2px;
}


