.topDivStyle{
  margin: 0 10px;
}

.inputStationDivStyle{
  margin-top: 30px;
  /* 色を白くして、ちょっと丸く */
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px -1px grey;
}

.selectDayDivStyle{
  margin-top: 30px;
}

.condButtonDivStyle{
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  /* 色を白くして、ちょっと丸く */
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px -1px grey;
}
.condButtonDivStyle p{
  width: 100%;
  margin: 0 0 5px 2px;
}
.condButtonStyle{
  width: 45%;
  margin-bottom: 15px;
}
.condButtonDivStyle a{
  text-align: right;
}

.rectButtonDivStyle{
  margin-top: 20px;
  width: 100%;
  padding: 5px 0;
  /* 画面下部に固定 */
  /*
  position: fixed;
  bottom: 0;
  */
}

.userListDivStyle{
  margin-top: 10px;
  margin-bottom: 50px;

  border-top: solid 1px #FF7B00;
}



