.topDivStyle{
  margin: 0 10px;
}

.inputStationDivStyle{
  margin-top: 30px;
}

.selectDayDivStyle{
  margin-top: 30px;
}

.condButtonDivStyle{
  margin-top: 30px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.condButtonDivStyle p{
  width: 100%;
  margin: 0 0 5px 2px;
}
.condButtonStyle{
  width: 30%;
}

.rectButtonDivStyle{
  margin-top: 30px;
  width: 100%;
  padding: 5px 0;
  background-color: white;
  /* 画面下部に固定 */
  /*
  position: fixed;
  bottom: 0;
  */
}

.userListDivStyle{
  margin-top: 10px;
  margin-bottom: 50px;

  border-top: solid 1px #FF7B00;
}


