.toResultVoteButtonDivStyle{
  width: 98%;
  padding: 5px;
}

.descriptionDivStyle{
  margin-left: 5px;
}
.descriptionDivStyle p{
  margin: 0;
  color: red;
}

.izakayaListDivStyle{
  margin-bottom: 60px;
}

.finishButtonDivStyle{
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  width: 98%;
  padding: 5px 2px;
}


